@page
@model IndexModel
@{
    ViewData["Title"] = "Пицария Grande";
}
<link href="~/css/Index.css" rel="stylesheet" />


<body>
    <div class="main">
        <img src="/image/background.jpg" />
    </div>

    <p class="quote">
        Ние не просто обичаме пица.... Ние обичаме и НАШИТЕ ХОРА, които правят пицата!!! - “ПИЦАРИЯ GRANDE”.
    </p>
</body>

