@page "/ContactUs"
@model PizzaGrande.Pages.OrderDetails.ContactUsModel
<h1>Пицария "Grande"</h1>
    <p>Опции за обслужване: Консумация на място · Храна за вкъщи</p>
    <p>Адрес: бул. „Гоце Делчев“ 20, 2900 Център, Гоце Делчев</p>
    <p>Работно време: 10:00-23:00</p>
    <p>Телефон: 089 555 381</p>
    @{
    }
